<div class="container">
  <h1>New Task</h1>
  <%= render 'tasks/form' %>
  <div class="border-top mt-3 text-primary">
    <%= link_to tasks_path, class: "text-decoration-none" do %>
      <i class="fa-solid fa-clock-rotate-left mt-3"></i>
      <span>Back to list</span>
    <% end %>
  </div>

</div>
